/* ClientList.css */
@import url('/src/styles/variables.css');

.campaigns_container {
  background-color: antiquewhite;
  height: 100vh;
}

.client-list-container {
    margin: 20px;
    background-color: rgba(95, 179, 238, 0.812);
  }
  
  .client-list-table {
    width: 100%;
    color: white;
  }
  
  .client-list-item-text {
    flex: 1;
    color: white;
  }
  
  .client-list-item * {
    color: white;
  }
  
  .input-all {
    color: white;
    background-color: white;
  }
  
  .btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
  }
  
  .btn-danger:hover {
    color: #fff !important;
    background-color: #ad2533 !important;
    border-color: #5d151c !important;
  }
  
  .toggle-button {
    position: relative;
    display: inline-block;
   /*  width: 60px;
    height: 34px; */
  }
  
  .toggle-button button {
    opacity: 1;
    /* width: 0;
    height: 0; */
  }
  
  .btn-success {
    background-color: rgb(40, 162, 40) !important;
    border-color: rgb(40, 162, 40) !important;
  }
  
  .btn-success:hover {
    background-color: rgb(27, 109, 27) !important;
    border-color: rgb(27, 109, 27) !important;
  }

  .button_primary {
    background-image: var(--bg-color-aprove);
    border-radius: var(--button-radius-aprove);
    box-sizing: border-box;
    color: var(--button-color-aprove);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-aprove);
    justify-content: center;
    padding: var(--button-padding-aprove) !important;
    text-decoration: none;
    /* width: 100%; */
    border: 0;
    max-width: var(--button-max-width-aprove);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* font-size: 1em; */
    text-wrap: nowrap;
    font-family: var(--font-family-aprove);
    box-shadow: var(--button-box-shadow-aprove);
    height: 40px;
}

.button_primary:hover {
    background-image: var(--bg-color-hover-aprove);
}

@media (min-width: 768px) {
    .button_primary {
        padding: .85rem 1.1rem !important;
    }
}