VITE_APP_TARGET=electron
VITE_API_BASE_URL=http://api.bballsports.com/simulationAPI
VITE_APP_COGNITO_USER_POOL_ID=us-east-1_*******
VITE_APP_COGNITO_CLIENT_ID=*********
VITE_APP_COGNITO_DOMAIN=us-****-*********.auth.********.amazoncognito.com/