/* .campaign-list{
    all: unset;
}
 */
@import url('/src/styles/variables.css');

.campaign-list {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.campaign-list h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.campaign-list p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
}

.campaign-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.campaign-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 20px;
}

.campaign-item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.campaign-item h4 {
    font-size: 1.0rem;
    margin: 0;
    color: #666;
}

.campaign-actions .button-campaign {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.campaign-actions .button-campaign:hover {
    background-color: #0deb32;
    /*  color: white; */
}

.button-campaign {
    margin: 5px;
    padding: 2px;
    height: 30px;
}

/* .campaign-actions .button-campaign:not(:last-child) {
    margin-right: 0.5rem;
}
 */