@import url('/src/styles/variables.css');
/* .campaign-list{
    all: unset;
}
 */
.campaign_list {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.campaign_list h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.campaign_list p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
}

.campaign_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.campaign_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 20px;
}

.campaign_item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.campaign_item h4 {
    font-size: 1.0rem;
    margin: 0;
    color: #000000;
}

.campaign_actions .button-campaign {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0rem 1rem 0rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.campaign_actions .button_campaign:hover {
    background-color: #0deb32;
   /*  color: white; */
}
 
.button_campaign {
    margin: 5px;
    padding: 2px;
    height: 30px;
}
/* .campaign-actions .button-campaign:not(:last-child) {
    margin-right: 0.5rem;
}
 */
 .button_primary {
    background-image: var(--bg-color-aprove);
    border-radius: var(--button-radius-aprove);
    box-sizing: border-box;
    color: var(--button-color-aprove);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-aprove);
    justify-content: center;
    padding: var(--button-padding-aprove) !important;
    text-decoration: none;
    /* width: 100%; */
    border: 0;
    max-width: var(--button-max-width-aprove);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* font-size: 1em; */
    text-wrap: nowrap;
    font-family: var(--font-family-aprove);
    box-shadow: var(--button-box-shadow-aprove);
    height: 40px;
}

.button_primary:hover {
    background-image: var(--bg-color-hover-aprove);
}

@media (min-width: 768px) {
    .button_primary {
        padding: .85rem 1.1rem !important;
    }
}