.blueprint {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
  }
  
  /* .blueprint .react-flow {
    height: 100%;
    width: 100%;
  } */
  
  .blueprint .react-flow .react-flow__node {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: move;
  }
  
  .blueprint .react-flow .react-flow__node.react-flow__node-selected {
    background-color: #e6f7ff;
  }
  
  .blueprint .react-flow .react-flow__edge-path path {
    stroke: #666;
    stroke-width: 2px;
  }
  
  .blueprint .react-flow .react-flow__edge-path path.react-flow__edge-selected {
    stroke: #007bff;
  }
  
  .blueprint .react-flow .react-flow__controls {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .zoom-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
  }
  
  .react-flow__controls {
    z-index: 999;
  }
  
  .react-flow__attribution {
    display: none;
  }

  .wf-campaign{
    background-color: antiquewhite;
  }