.side-menu {
    position: fixed;
    top: 20%;
    left: 20px;
    margin: 0 10px 0 0;
    border: 1px rgb(109, 109, 109) solid
}

.side-menu h4 {
    margin: 0 5px 0 5px;
}

.lateral-button {
    background-color: #005fff;
    padding: 3px;
    border-radius: 5px;
    margin: 3px;
}

.lateral-button:hover {
    background-color: #023999;
    padding: 3px;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .side-menu {
        position: fixed;
        top: 10%;
        left: 10px;
        margin: 0 10px 0 0;
    }
}

.step-label {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.input-value {
    height: 35px;
    width: 100%;
    padding: 10px;
}

