.side-menu2 {
    /* position: fixed; */
    display: flex;
    /* top: 20%;
    left: 20px; */
    margin: 0 10px 0 0;
    /* border: 1px rgb(109, 109, 109) solid; */
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgb(238 238 238);
    height: max-content;
}

.side-menu2 h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 5px 0 5px; */
    color: black;
}

.lateral-button2 {
    background-color: #ffffff;
    padding: 3px;
    border-radius: 5px;
    margin: 3px;
    color: black;
}

.lateral-button2:hover {
    background-color: #d2d0d0;
    padding: 3px;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .side-menu2 {
        position: fixed;
        top: 10%;
        left: 10px;
        margin: 0 10px 0 0;
    }
}

.step-label {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.lateral-menu2 {
    border-right: 1px black solid;
}

.react-flow__handle {
    width: 15px !important;
    height: 15px !important;
}

path.react-flow__edge-path {
    stroke-width: 3 !important;
  }
  
path.react-flow__edge-path:hover {
    stroke-width: 4 !important;
  }

.upload-file {
    color: black;
    height: 100%;
}

img {
    display: inline-block;
    max-width: 100%;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: fill-available;
}

.danger-color {
    background-color: rgb(253, 2, 2) !important;
    border: 2px solid red;
}